/* check for best practice */
body {
    margin: 0; 
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

#flex-center-main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-center-main img {
    width: 800px;
}

#grid-center-menu {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template: 1fr 1fr 1fr / 2fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

#design-link {
    grid-area: 2 / 2 / 3 / 3;
}

#video-link {
    grid-area: 2 / 3 / 3 / 4;
}

#illustrator-link {
    grid-area: 2 / 4 / 3 / 5;
}

a {
    font-size: 3em;
    color: black;
    text-decoration: none;
    -webkit-text-stroke:  black .1rem;
}

.hovered-menu-item {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: black .1rem;
}

.clicked-menu-item {
    font-size: 2.8em;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: black .1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



.article-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.article {
    /* background-color: black; */
}

.fixed-card {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;

    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 90px;
    background-color: rgb(233, 233, 233);

    box-shadow: 0px 3px 10px 1px gray;
    border-radius: 3px;
    
    transition: height 1s cubic-bezier(0.42, 0, 0.43, 1.29);
}

.fixed-card.final{
    height: 100px;
}

.fixed-img {
    box-shadow: 0px 0px 15px 0px rgb(133, 133, 133);
    max-height: 150px;
}

ul {
    margin-left: 4rem;
}

ul li {
    padding-left: .5rem;
    padding-bottom: 2rem;
}

.image-flex img {
    max-width: 500px;
}



.article-img {
    max-width: none;
    grid-column: span 4;
}

.snap-scroll-container {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap-scroll-container div {
    border: red solid 1px;
    scroll-padding: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-content: center;
    scroll-snap-align: start;
}

.snap-scroll-container img {
    margin: auto 0;
    height: 400px;
    box-shadow: 0px 0px 15px 0px rgb(133, 133, 133);
}