/* check for best practice */
body {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#flex-center-main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#flex-center-main img {
    width: 800px;
}

#grid-center-menu {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#design-link {
    grid-area: 2 / 2 / 3 / 3;
}

#video-link {
    grid-area: 2 / 3 / 3 / 4;
}

#illustrator-link {
    grid-area: 2 / 4 / 3 / 5;
}

a {
    font-size: 3em;
    color: black;
    text-decoration: none;
    -webkit-text-stroke:  black .1rem;
}

.hovered-menu-item {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: black .1rem;
}

.clicked-menu-item {
    font-size: 2.8em;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: black .1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


.fixed-card {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;

    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px 90px;
    background-color: rgb(233, 233, 233);

    box-shadow: 0px 3px 10px 1px gray;
    border-radius: 3px;
    
    transition: all 2s cubic-bezier(0.42, 0, 0.43, 1.29);
    scroll-snap-align: start;
}

.fixed-card.final{
    flex-direction: row;
    height: 100px;
}

.fixed-img {
    box-shadow: 0px 0px 15px 0px rgb(133, 133, 133);
    max-height: 150px;
}

ul {
    margin-left: 4rem;
}

ul li {
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.snap-scroll-container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-padding-top: 100px;
}

.snap-scroll-container > div {
    height: calc(100vh - 100px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

.snap-scroll-container > div > img {
    height: 400px;
    box-shadow: 0px 0px 15px 0px rgb(133, 133, 133);
}

.snap-scroll-container > div > video {
    height: 400px;
    box-shadow: 0px 0px 15px 0px rgb(133, 133, 133);
}

.snap-scroll-container > div > h1 {
    /* font-size: 20vw; */

}

.productText {
    font-size: 28.7vw;
    margin-right: 20px;
}

.materialText {
    font-size: 23.9vw;
    margin-right: 7px;
}

.promotionText {
    font-size: 21.6vw;
    margin-right: 2x;
}